@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Lato:wght@300;400&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

/* Default */
html,
body {
  height: 100%;
  min-height: 100%;
  color: var(--color);
  // color: $color-txt-opacity-3;
  font: {
    weight: 300;
    family: "Noto Sans KR", "", sans-serif;
  }
  @include box-sizing;
}
* {
  @include box-sizing;
}
body {
  font-size: 12px;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0px;
}

i,
em {
  font-style: normal;
}

strong,
b,
dt {
  font-weight: 800;
}

/* Button */
button {
  padding: 0;
  cursor: pointer;
}

/* input */
input,
button {
  vertical-align: middle;
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
  outline: none;
  background-color: $color-theme-opacity-1;
}

input[type="text"] {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 1px solid $color-txt-opacity-1;
  @include border-radius(7px);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border: 0 solid transparent;
  background-color: $color-scrollbar-bg;
  @include border-radius(4px);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track:not(body) {
  @include border-radius(4px);
}

/* Icon */
.mdi {
  display: inline-block;
  vertical-align: middle;
}

/* button */
.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
