@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Lato:wght@300;400&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

/* Default */
html,
body {
  height: 100%;
  min-height: 100%;
  color: var(--color);
  // color: $color-txt-opacity-3;
  font: {
    weight: 300;
    family: "Noto Sans KR", "", sans-serif;
  }
  @include box-sizing;
}
* {
  @include box-sizing;
}
body {
  font-size: 12px;
}
a {
  text-decoration: none;
}

h1,
s h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0px;
}

i,
em {
  font-style: normal;
}

strong,
b,
dt {
  font-weight: 800;
}

/* Button */
button {
  padding: 0;
  cursor: pointer;
}

/* input */
input,
button {
  vertical-align: middle;
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
  outline: none;
  background-color: $color-theme-opacity-1;
}

input[type="text"],
select {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid $color-txt-opacity-3;
  @include border-radius(7px);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border: 0 solid transparent;
  background-color: $color-scrollbar-bg;
  @include border-radius(4px);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track:not(body) {
  @include border-radius(4px);
}

/* Icon */
.mdi {
  display: inline-block;
  vertical-align: middle;
}

/* button */
.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* common */
.total {
  margin-bottom: 7px;
  padding-right: 5px;
  color: $color-txt-opacity-7;
  text-align: right;
  font: {
    weight: 400;
    size: 10px;
  }
  &:before {
    content: "[ ";
  }
  &:after {
    content: " ]";
  }
}

/* etc */
#infinite-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: $color-txt-opacity-5;
  font-size: 1.5rem;
  .spinner {
    // position: absolute;
    // bottom: 100%;
    margin-top: 15px;
  }
}

.loader {
  color: $color-bg;
  font-size: 2rem;
}

/* Component */
.search {
  border: 1px solid #000;
  position: sticky;
  top: -5px;
  padding-top: 5px;
  background-color: $color-bg-level-2;
  width: 100%;
  margin-bottom: 10px;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    z-index: 3;
    height: 10px;
  }
  &::before {
    top: 100%;
    background: linear-gradient($color-bg-level-2, transparent);
    /* background: linear-gradient($color-theme-sub, transparent); */
  }

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    select {
      width: 150px;
    }
    input {
    }
    select + input {
      margin-left: 10px;
    }
    input + button {
      margin-left: 10px;
    }
    button {
      width: 80px;
      height: 40px;
      padding: 10px;
      border: 1px solid $color-border--opacity-3;
      background-color: $color-bg;
      @include border-radius(7px);
    }
  }
}

/* Component List */
.c-list--default {
  width: 100%;
  .item {
    &__row {
      border-bottom: 1px solid $color-border--opacity-1;
      background-color: $color-bg;
      text-transform: capitalize;
      cursor: pointer;
      &:first-child {
        border-top: 1px solid $color-border--opacity-1;
      }
      &:hover {
        background-color: $color-theme-opacity-2;
      }
      &--inner {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
      }
    }
    &__cell {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-left: 1px solid $color-border--opacity-1;
      &--thumb {
        flex: 0 0 50px;
        border-left: 0;
        &img {
          display: inline-block;
        }
      }
      &--title {
        flex: 1;
        justify-content: flex-start;
        text-align: left;
      }
      &--meta {
        flex: 0 0 80px;
      }
    }
  }
}

.c-modalpop__detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 90px 10px 10px;
  width: 100%;
  height: 100%;
  background-color: $color-txt-opacity-7;
  .detail-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 510px;
    padding: 80px 20px 20px;
    background-color: $color-bg;
    @include border-radius(15px);

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: absolute;
      top: -60px;
      width: 120px;
      height: 120px;
      background-color: $color-txt;
      border-radius: 50%;
      box-shadow: 0 5px 10px $color-txt-opacity-3, 0 -5px 10px $color-bg-opacity-5;
      .mdi {
        color: $color-bg-opacity-5;
      }
    }
    &__data {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      h3 {
        width: 100%;
        margin-bottom: 5px;
        text: {
          transform: capitalize;
          align: center;
        }
        font: {
          weight: bold;
          size: 1.5em;
          family: "NanumSquare";
        }
      }
    }
    &__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      &--inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        &:nth-child(1) {
          width: 35%;
        }
        &:nth-child(2) {
          width: 60%;
        }
      }

      &--list {
        width: 100%;

        // border-top: 1px solid $color-border--opacity-3;
        // border-right: 1px solid $color-border--opacity-3;
        margin-top: 7px;
        &:first-child {
          margin-top: 0;
        }
        li {
          // border-bottom: 1px solid $color-border--opacity-3;
          display: flex;
          justify-content: space-between;
          strong {
            flex: 0 0 50%;
            // border-left: 1px solid $color-border--opacity-3;
          }

          span {
            flex: 0 0 50%;
            text-align: right;
          }
        }
      }

      &--list-02 {
        li {
          position: relative;
          padding-left: 10px;
          font-size: 11px;
          &:before {
            content: "-";
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      dl {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-bottom: 1px solid $color-border--opacity-2;
        dt {
          flex: 0 0 80px;
          border: 1px solid #000;
        }
        dd {
          flex: 1;
          border: 1px solid #000;
        }
      }
    }
    &__hash {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      a {
        margin: 2px;
        padding: 0 7px;
        background-color: $color-theme-opacity-5;
        @include border-radius(3px);
        &:before {
          content: "#";
        }
      }
    }
    &__types {
      width: 100%;
      margin-top: 20px;
      dl {
        dt {
          padding: 3px 5px;
          border-bottom: 1px solid $color-border--opacity-2;
          font-size: 1.2em;
        }
        dd {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          span {
            display: inline-block;
            margin: 5px;
            padding: 5px 10px 3px;
            color: $color-bg;
            text-transform: capitalize;
            font: {
              size: 11px;
            }
            word: {
              wrap: none;
              break: keep-all;
            }
            letter-spacing: 2px;
            @include border-radius(15px);
            &.type {
              background-color: #0a2e50;
            }
            &.ability {
              background-color: #c73015;
            }
          }
        }
      }
    }
    &__recipe {
      width: 100%;
      li {
        display: flex;
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px solid $color-border--opacity-1;
        img {
          width: 100px;
          margin-right: 10px;
        }
        p {
          display: flex;
          flex: 1;
          align-items: center;
        }
      }
    }
    .btn-box {
      width: 100%;
      margin-top: 20px;
      button {
        padding: 5px 10px;
        background-color: $color-border--opacity-5;
        color: $color-bg;
        @include border-radius(5px);
      }
    }
  }
}
